/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: cornsilk;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 50rem;
}

header {
  background-color: black;
  color: cornflowerblue;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  color: cornflowerblue;
}

ul {
  background-color: #68df68;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 7px;
}

li {
  background-color: black;
  padding: 1.5rem;
  flex: 0 1 42%;
  margin-bottom: 1rem;
  border-radius: 6px;
  color: aliceblue;
}

.form {
  background-color: #68df68;
  padding: 2rem 4rem;
  max-width: 30rem;
  margin: 0 auto;
  border-radius: 7px;
}

input {
  display: block;
  width: 96.5%;
  padding: 0.5rem;
  margin-bottom: 1.4rem;
  border: none;
  outline: none;
  border-radius: 7px;
}

button {
  width: 100%;
  color: cornflowerblue;
  background-color: black;
  border: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 7px;
}
